body {
  background-color: #f6ecec;
  font-family: 'Fira Sans', sans-serif;
}

main {
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 25px;
  width: fit-content;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}

figcaption {
  position: relative;
  bottom: 50%;
  color: rgb(0, 0, 0);
  left: 50%;
  font-family: Pacifico;
  margin-left: 10%;
}
ul {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  margin: 0 10px 0 10px;
}

.titre {
  font-size: 3.5em;
  position: relative;
  color: #000000;
  z-index: 6;
  margin-bottom: 5px;
}

.soustitre {
  margin-top: 5px;
  position: relative;
  font-size: 2.5em;
  color: #000000;
  z-index: 6;
}

.introtxt {
  margin-left: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intropizza {
  display: flex;
  height: auto;
}

.introblanc {
  position: absolute;

  z-index: 4;
  object-fit: cover;
}
.intropizza {
  z-index: 2;
  height: 99%;

}

.btn-orange {
  background-color: #ec0000;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px;
  width: 75%;
  text-align: center;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.premiere {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intropizza {
  justify-content: right;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
  justify-content: center;
  width: 100%;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 25%;

  margin-bottom: 2em;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 100px 100px 0 0;
}

.menu-item > img {
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
}

.ingredient {
  font-size: smaller;
  text-align: center;
  width: 80%;
}

select {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 1em;
  font-family: 'Fira Sans', sans-serif;
}

.prix {
  font-size: 1.5em;
  color: #05a84b;
  font-weight: bold;
}

#feuillehaut{
  position: absolute;
  margin-left: 15%;
  margin-top: -1%;
  z-index: 10;
  width: 5%;
  margin-bottom: 0px;
}

#feuillecote{
  position: absolute;
  margin-left: -5%;
  z-index: 10;
  width: 10%;
}

#tomatecote{
  position: absolute;
  margin-left: 32%;
  margin-top: -4%;
  
}

#tomatebas{
  position: absolute;
  margin-left: -3%;
  margin-top: -4%;
  z-index: -1;
  
}

footer {
  display: flex;
  justify-content: center;

}